body.dark {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode-grid .ag-header {
    background-color: #333333;
    color: #ffffff;
}

.dark-mode-grid .ag-row {
    background-color: #1e1e1e;
    color: #ffffff;
}